@model CellphoneS.Models.EF.CauHinh

<div>

    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.SanPham.TenSP)
                </th>

                <th scope="col">
                    @Html.DisplayFor(model => model.SanPham.TenTat)
                </th>
            </tr>
        </thead>

        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ManHinh)
            </th>

            <th scope="col">
                @Html.DisplayFor(model => model.ManHinh)
            </th>
        </tr>

        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.HeDieuHanh)
            </th>

            <th scope="col">
                @Html.DisplayFor(model => model.HeDieuHanh)
            </th>
        </tr>

        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Camera)
            </th>

            <th scope="col">
                @Html.DisplayFor(model => model.Camera)
            </th>
        </tr>

        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CPU)
            </th>

            <th scope="col">
                @Html.DisplayFor(model => model.CPU)
            </th>
        </tr>

        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.GPU)
            </th>

            <th scope="col">
                @Html.DisplayFor(model => model.GPU)
            </th>
        </tr>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Ram)
            </th>

            <th scope="col">
                @Html.DisplayFor(model => model.Ram)
            </th>
        </tr>

        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Rom)
            </th>

            <th scope="col">
                @Html.DisplayFor(model => model.Rom)
            </th>
        </tr>

        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pin)
            </th>

            <th scope="col">

                @Html.DisplayFor(model => model.Pin)
            </th>
        </tr>
    </table>
</div>


