
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

@*@using CellphoneS.Models.DAO;
@model IEnumerable<RevenueDAO>*@


@using (Html.BeginForm("Index", "Revenue", FormMethod.Get))
{
    <h2>Chọn Năm</h2>
    <select name="year" class="form-control" style="width:30%">
        @for (int i = DateTime.Now.Year; i >= 2010; i--)
        {
            <option value="@i">@i</option>
        }

    </select>
    <input type="submit" value="Submit" class="btn btn-info" />
}
<div class="single">
    <div class="single-grid">
        <table class="table">
            <thead>
                <tr>
                    <td>Tháng</td>
                    <td>Tổng Số Đơn Hàng</td>
                    <td>Tổng Sản Phẩm Đã Bán</td>
                    <td>Tổng Doanh Thu</td>
                </tr>
            </thead>

            <tbody>
                @*@foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Thang</td>
                        <td>@item.DonHang</td>
                        <td>@item.TongSp</td>
                        <td>@item.DoanhThu.ToString("#,##")đ</td>
                    </tr>
                }*@
                dữ liệu doanh thu
            </tbody>
        </table>
    </div>
</div>

