@model IEnumerable<CellphoneS.Models.EF.DonDatHang>


<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.KhachHang.TenKH)*@ Tên Khách Hàng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NgayDat)*@Ngày đặt
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TinhTrangGiaoHang)*@tình trạng giao hàng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NgayGiao)*@ Ngày giao
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DaThanhToan)*@ đã thanh toán
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UuDai)*@ ưu đãi
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.HuyDon)*@ hủy đơn
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TrangThai)*@ trạng thái
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGiao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UuDai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HuyDon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    <a href="#" class="btn btn-primary" data-id="@item.MaDDH" id="btnAccept">
                        Duyệt Đơn Hàng
                    </a>

                </td>
            </tr>

        }
    </tbody>

</table>
<script>

    $(document).ready(function () {
        var order = {
            init: function () {
                order.registerEvents();
            },
            registerEvents: function () {
                $("#btnAccept").off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this)
                    var id = btn.data('id')
                    $.ajax({
                        url: "/Admin/Payment/accept",
                        data: { id: id },
                        dataType:"json",
                        type: "POST",
                        success: function (response) {
                            console.log("1")
                            if (response.TinhTrangGiaoHang == true) {

                                location.reload();
                            }
                        }
                    })
                })
            }
        }
        order.init();
    }
</script>
